@use "../../mediaQueries" as m;

.project {
  list-style: none;
  &__card {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }
  &__description {
    flex: 1 1 310px;
    flex-direction: column;
    display: flex;
    gap: 0.5rem;
  }
  &__img {
    flex: 1 1 450px;
    img {
      width: 100%;
    }
  }
  &__subtitle {
    font-size: 1.5rem;
  }
  .tags {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;

    .tag {
      background-color: #a5b4fc;
      color: #312e81;
      font-size: 0.87rem;
      padding: 0.25rem 0.5rem;
      border-radius: 100vmax;
      &:nth-child(even) {
        background: #5eead4;
        color: #134e4a;
      }
    }
  }
  @include m.medium {
    &__card {
      justify-content: center;
    }
    &__description {
      text-align: center;
    }
    .tags {
      justify-content: center;
    }
  }
  @include m.small {
    &__subtitle {
      font-size: 1.1rem;
    }
  }
}
