.button {
  padding: 0 2.5rem;
  height: 40px;
  background: linear-gradient(349.81deg, #8d0000 -29.22%, #f44641 72.78%);
  border: none;
  border-radius: 100vmax;
  color: var(--white);
  font-size: 1rem;
  line-height: 1.5;
  box-shadow: 0px 4px 12px 0px #00000026;
}
