@use "../../mediaQueries" as m;

.nav {
  max-width: 1052px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;

  &__container {
    padding: 1rem;
    background-color: rgba(24, 24, 27, 0.2);
    backdrop-filter: blur(4px);
  }
  @include m.small {
    .logo {
      width: 5rem;
    }
  }
}
