@use "../../mediaQueries" as m;

.section {
  max-width: 1052px;
  margin: 0 auto;
  padding: 4rem 1rem;
  overflow: hidden;
  .decorative {
    display: block;
    width: 10px;
    background-color: #d3222a;
  }
  h2 {
    display: flex;
    gap: 0.5rem;
  }
  @include m.medium {
    h2 {
      width: fit-content;
      margin: 0 auto;
    }
  }
}
