.experience-testimonial {
  padding: 0 1rem;
  max-width: 593px;
  margin: 0 auto;
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
    padding: 0;

    li {
      flex: 0 1 140px;
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }
  }
}
